header{
    background-color: rgb(175, 100, 100);
    position: sticky;
    top: 0px;
    right: 2%;
    left: 2%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.inputs{
    height: 50px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    
}
input{
    margin-right: 10px;
}
.input-task{
    height: 30px;
    padding-left: 10px;
    border: none;
    
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.input-date{
    height: 31px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.input-time{
    height: 31px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.add-btn{
    height: 31px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    width: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    background-color: rgb(0, 158, 0);
    color: white;
    
}
.items{
    display: grid;
    grid-template-columns: 120px 90px 50px 150px 70px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}
.done-btn{
    background-color: rgb(199, 163, 4);
    height: 30px;
    border: none;
    border-radius: 5px;
    color: white;
}
button:hover{
    cursor: pointer;
    opacity: 0.8;
}
button:active{
    transform: scale(0.9);
}
@media (max-width: 490px) {
    .input-task{
        height: 30px;
        padding-left: 10px;
        border: none;
        width: 80px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    }
    .input-time{
        height: 31px;
        padding-left: 5px;
        padding-right: 5px;
        border: none;
        width: 80px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    }
    
    .items{
        display: grid;
        grid-template-columns: 80px 90px 50px 130px 70px;
        margin-bottom: 10px;
        align-items: center;
        justify-content: center;
    }
}
.done-task-btn{
    background-color: rgb(1, 164, 185);
    border: none;
    border-radius: 5px;
    height: 30px;
    color: white;

}
.done-div{
    display: flex;
    align-items: center;
    justify-content: center;

}
.popup-container{
    background-color: rgb(211, 211, 211);
    display: grid;
    align-items: center;
    justify-content: center;
    width: 400px;
    position: absolute;
    height: 300px;
    overflow:scroll;
    top: 100px;
    left: 32%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    border-radius: 10px;

}
@media (max-width: 630px) {
    .popup-container{
        left: 20%;
    }
}
@media (max-width: 530px) {
    .popup-container{
        left: 8%;
    }
}
@media (max-width: 445px) {
    .popup-container{
        left: 10px;
    }
}
@media (max-width: 440px) {
    .popup-container{
        left: 4%;
        right: 10px;
        width: 350px;
    }
}

.done-list button{
    background-color: rgb(201, 5, 5);
    height: 30px;
    color: white;
    border: none;
    border-radius: 5px;
}
.done-list{
    display: flex;
    align-items: center;
    column-gap: 30px;
    font-size: larger;
}
.done-header{
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}
.close-popup{
    background-color: rgb(172, 172, 5);
    height: 30px;
    border: none;
    border-radius: 10px;
}
.tick{
    width: 20px;
}